div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 850px;
	height: 378px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_24 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 259.4, 184.7);
	opacity: 0;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 259.4, 184.7);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_5 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	opacity: 0;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_8 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	opacity: 0;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_16 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	opacity: 0;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_27 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 259.4, 184.7);
	opacity: 1;
}
83.33%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 259.4, 184.7);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_33 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
	opacity: 1;
}
83.33%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_3 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	opacity: 1;
}
83.33%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_11 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	opacity: 1;
}
83.33%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_19 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	opacity: 1;
}
83.33%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_30 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
	opacity: 0;
}
25% {
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
	opacity: 1;
}
25.01%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
}
}
@-webkit-keyframes wlby_KF_13 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	opacity: 0;
}
21.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	opacity: 1;
}
21.67%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
}
}
@-webkit-keyframes wlby_KF_21 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	opacity: 0;
}
21.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	opacity: 1;
}
21.67%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
}
}
.wlby_51
{
	-webkit-animation-duration: 1.96667s;
}

.wlby_2
{
	-webkit-animation-duration: 3.96667s;
}

.wlby_52
{
	-webkit-animation-duration: 5.93333s;
}

.wlby_17
{
	-webkit-animation-duration: 7.93333s;
}

.wlby_53
{
	-webkit-animation-duration: 9.9s;
}

.wlby_49
{
	-webkit-animation-duration: 11.7s;
	display: none;
}

.wlby_25
{
	-webkit-animation-duration: 11.9s;
}

.wlby_54
{
	-webkit-animation-duration: 13.8667s;
}

.wlby_1
{
	-webkit-animation-duration: 16.0667s;
}

.wlby_64
{
	-webkit-animation-duration: 3.96667s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 55.5, 221.85);
}

.wlby_66
{
	-webkit-animation-duration: 3.96667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 55.5, 221.85);
}

.wlby_65
{
	-webkit-animation-duration: 3.96667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 55.5, 264.45);
}

.wlby_67
{
	-webkit-animation-duration: 4.16667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 55.5, 221.85);
}

.wlby_29
{
	-webkit-animation-duration: 0.166667s;
	-webkit-animation-name: wlby_KF_24;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 259.4, 184.7);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_36
{
	-webkit-animation-duration: 2s;
	-webkit-animation-name: wlby_KF_30;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_9
{
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: wlby_KF_5;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_12
{
	-webkit-animation-duration: 0.166667s;
	-webkit-animation-name: wlby_KF_8;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_20
{
	-webkit-animation-duration: 2s;
	-webkit-animation-name: wlby_KF_13;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_21
{
	-webkit-animation-duration: 0.166667s;
	-webkit-animation-name: wlby_KF_16;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_28
{
	-webkit-animation-duration: 2s;
	-webkit-animation-name: wlby_KF_21;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_60
{
	-webkit-animation-duration: 3.96667s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 678.65, 340.3);
}

.wlby_45
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 685.8, 343.85);
}

.wlby_61
{
	-webkit-animation-duration: 3.96667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 714.4, 340.35);
}

.wlby_62
{
	-webkit-animation-duration: 3.96667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 744.6, 340.35);
}

.wlby_63
{
	-webkit-animation-duration: 4.16667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 775.75, 340.35);
}

.wlby_30
{
	position: absolute;
	-webkit-transform:matrix(0.64061,0,0,0.640549,-590,-193.1);
	-webkit-transform-origin: 0px 0px;
}

.wlby_59
{
	-webkit-animation-duration: 3.8s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(0.64061,0,0,0.640549,-330.6,-8.4);
	-webkit-transform-origin: 0px 0px;
}

.wlby_13
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-425,-219.5);
}

.wlby_22
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-425,-205);
}

.wlby_5
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-425,-200);
}

.wlby_57
{
	-webkit-animation-duration: 3.8s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0,-34);
}

.wlby_56
{
	-webkit-animation-duration: 1.6s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0,-27.5);
}

.wlby_55
{
	-webkit-animation-duration: 3.96667s;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0,-27.5);
}

.wlby_38
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0,-0.05);
}

.wlby_58
{
	-webkit-animation-duration: 3.8s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0.65,-28);
}

.wlby_34
{
	-webkit-animation-duration: 0.2s;
	-webkit-animation-name: wlby_KF_27;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 259.4, 184.7);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_37
{
	-webkit-animation-duration: 0.2s;
	-webkit-animation-name: wlby_KF_33;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 260, 184.4);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_7
{
	-webkit-animation-duration: 0.2s;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	-webkit-transform-origin: 0px 0px;
	opacity: 0;
}

.wlby_4
{
	-webkit-animation-duration: 0.2s;
	-webkit-animation-name: wlby_KF_3;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425, 172.5);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_18
{
	-webkit-animation-duration: 0.2s;
	-webkit-animation-name: wlby_KF_11;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425, 185.5);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_26
{
	-webkit-animation-duration: 0.2s;
	-webkit-animation-name: wlby_KF_19;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 425.65, 177);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

