@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}
#contenedor {
	width: 850px;
	height: 378px;
	position: relative;
	margin: 0 auto;
}
#contenedor > #cycle {
	width: 850px;
	height: 378px;
}


#contenedor > #overlay {
	width: 850px;
	height: 378px;
	position: absolute;
	top: 0;
	z-index: 400;
	background-image: url(../img/banners/fondo.png);
}
#contenedor > #overlay .button {
	width: 42px;
	height: 93px;
	position: absolute;
	top: 147px;
	cursor:pointer;
}
#overlay #banner-prev {
	left: 12px;
}




#overlay #banner-next {
	right: 12px;
}
#banner-nav {
	height: 28px;
	position: absolute;
	top: 337px;
	right: 50px;
}
#banner-nav > a {
	width: 28px;
	height: 24px;
	margin: 0 3px;
	padding: 4px 0 0 0;
	display: block;
	float: left;
	border-radius: 14px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	text-decoration:none;
	color: white;
}
#banner-nav > a.activeSlide {
	background-color: red;
}
